%h1 Hello.

%img.photo{:src => 'img/photo.jpg', :alt => 'In the studio.'}

%p
  I’m Alex and I build dynamic, feature-rich sites using PHP and Ruby on Rails. Using the latest technology available ensures that my sites work seamlessly on every browser, and using HTML5, CSS3 and jQuery makes sure they look great too. My primary focus is on building websites which have intuitive user interfaces, allowing frustration-free and efficient browsing.

%p 
  My 
  %a{:href => './work'} portfolio
  shows a wide range of sites, from fully fledged, bespoke e-commerce solutions to simple image-to-HTML conversions. I am constantly seeking to build on what I already know, to ensure that the sites I create are as up to date as possible. I also like exploit the huge range of technologies available, whilst retaining a sense of simplicity.

%p
  As well as web developing, I am currently studying for a masters in
  %a{:href => 'http://phys.alexpearce.me'} Particle Physics
  at the
  %a{:href => 'http://soton.ac.uk'} University of Southampton.