%p Exploring the latest goings-on in the world of web technologies is great fun, so in my spare time I like to build with new languages and try different approaches to past problems. This is a list of some of things I'm currently working on.

%ul
  %li
    %h2 Rails Shop
    %a{:rel => 'store', :href => 'img/work/rails-shop.jpg'}
      %img.photo{:src => 'img/work/rails-shop-thumb.jpg', :alt => 'Rails Store'}
      %span.blurb Rails Shop Item Index
    %a.hidden{:rel => 'store', :href => 'img/work/rails-shop-basket.jpg'}
      %span.blurb Rails Shop Basket

    %p A shop built with <a href="http://rubyonrails.com">Ruby on Rails</a>, which is progressing very well. Currently, items can have various options, images are hosted using Amazon's <a href="http://aws.amazon.com/s3/">S3</a> cloud storage service, and basic store functionality such as a shopping basket have been implemented. Soon, the shop will integrate with PayPal and Google Checkout and allow order tracking. My main priority is a very simple and clean interface for both users and administrators.
    
  %li
    %h2 JavaScript
    %img.photo{:src => 'img/work/javascript.jpg', :alt  => 'Code is Beautiful'}
    %p Although JavaScript has become incredibly accessible thanks to fantastic libraries such as jQuery, it is easy to forget the pure language these libraries are created from. So, as I develop sites, I like to try to write plugins and functions from scratch. For example, the <a href="/js/lightbox.js">lightbox</a> on this site was created from scratch.

  %li
    %h2 Cocoa
    %p My most in-depth knowledge is in web development, so I am pushing myself to diversify and create some desktop applications. The Objective-C language allows both desktop and iOS application development. Progress is limited by my web development work, but working apps aren't too far off.