#portfolio
  %ul
    %li
      %a{:href => 'img/work/physoc.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/physoc-thumb.jpg', :alt => 'Physoc'}
      %span.alt
        Physoc
      %span.blurb
        I was the 2010-2011 webmaster for the University of Southampton Physics Society, <a href="http://physoc.org.uk/">Physoc</a>. This site was built from the ground up using <a href="http://rubyonrails.org/">Ruby on Rails 3</a> and many other Ruby lovelies such as <a href="http://sass-lang.com/">SASS</a>. Includes polls, a weekly newsletter (integrated with <a href="http://www.mailchimp.com/">Mailchimp</a>), an events calendar and integration with Amazon S3, all administered with a very user friendly backend interface.
    
    %li
      %a{:href => 'img/work/thu.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/thu-thumb.jpg', :alt => 'The Hit Ups'}
      %span.alt
        The Hit Ups
      %span.blurb
        A simple sign up page from a given design which hooks in to <a href="http://www.mailchimp.com/">Mailchimp</a>, allowing the band to check the new fans and send newsletters when they pleased. Worked with Mailchimp in such a way that confirmed newsletter subscriptions gave the subscriber a link to a free one-time-only download.
        
    %li
      %a{:href => 'img/work/ap.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/ap-thumb.jpg', :alt => 'An old AlexPearce.me'}
      %span.alt
        AlexPearce.me
      %span.blurb
        An old iteration of my personal site.
        
    %li
      %a{:href => 'img/work/ftf.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/ftf-thumb.jpg', :alt => 'Fashioning the Future'}
      %span.alt
        Fashioning the Future
      %span.blurb
        Very basic PSD-to-HTML conversion in a with a short deadline. No further HTML tweaks were needed after the <a href="http://www.nextgenerationnightingales.com/">initial handover</a>.
        
    %li
      %a{:href => 'img/work/reverestore.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/reverestore-thumb.jpg', :alt => 'The REVERE Store'}
      %span.alt
        REVERE Store
      %span.blurb
        A <a href="http://store.revereonline.co.uk/">completely bespoke store</a> for London-based band <a href="http://www.myspace.com/reverelondon">REVERE</a> for the launch of their debut album. Built using the <a href="http://codeigniter.com/">CodeIgniter PHP framework</a>, the store allowed custom item sorting, payments via PayPal and other miscellaneous store features such as dispatch confirmation and total revenue taken.
        
    %li
      %a{:href => 'img/work/revereadmin.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/revereadmin-thumb.jpg', :alt => 'The REVERE Store Admin Interface'}
      %span.alt
        REVERE Store Backend
      %span.blurb
        Again, a completely bespoke solution built to easily administer the store, including functions to create, update and destroy items, upload images, add pages (a basic CMS) and view transactions.
        
    %li
      %a{:href => 'img/work/thephoenix.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/thephoenix-thumb.jpg', :alt => 'Phoenix Wordpress Theme'}
      %span.alt
        Wordpress Theme
      %span.blurb
        Wordpress template for a Lancing-based promotion company. As is often required when considering a Wordpress theme, every HTML element that can be used much be styled, so a very comprehensive stylesheet was made covering all possibilities. Unfortunately, due to monetary issues with the client, this site is not currently online. Designed by myself to match the vibrant feel of a live gig.
        
    %li
      %a{:href => 'img/work/freshnme.jpg', :rel => 'portfolio'}
        %img{:src => 'img/work/freshnme-thumb.jpg', :alt => 'Freshn.me'}
      %span.alt
        Freshn.me
      %span.blurb
        File uploader and URL shortener based on a given design built in PHP.