// @group Variables
$theme: #58478b;
$compliment: #83b624;
// @end Variables

// @group Mixins
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $colour: $standard-shadow-colour, $inset: "") {
	@if $inset == "" {
		-webkit-box-shadow: $x $y $blur $colour;
		-moz-box-shadow: $x $y $blur $colour;
		-o-box-shadow: $x $y $blur $colour;
		box-shadow: $x $y $blur $colour;
	}	@else {
		-webkit-box-shadow: $inset $x $y $blur $colour;
		-moz-box-shadow: $inset $x $y $blur $colour;
		-o-box-shadow: $inset $x $y $blur $colour;
		box-shadow: $inset $x $y $blur $colour;
	}
}

@mixin simple-gradient($top-colour, $bottom-colour) {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $top-colour),
		color-stop(100%, $bottom-colour)
	);
	background: -moz-linear-gradient(
		center top,
		$top-colour 0%,
		$bottom-colour 100%
	);
}

@mixin border-radius($radius: 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-image($url, $t, $r, $b, $l) {
	-webkit-border-image: url($url) $t $r $b $l;
	-moz-border-image: url($url) $t $r $b $l;
	-o-border-image: url($url) $t $r $b $l;
	border-image: url($url) $t $r $b $l;
	border-width: #{$t}px #{$r}px #{$b}px #{$l}px;
}

@mixin transition($property, $time) {
	-webkit-transition: $property $time;
	-moz-transition: $property $time;
	-o-transition: $property $time;
	transition: $property $time;
}
// @end Mixins